* {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif ;

}
body {
    background-color: rgb(40,40,40);
    color: #fff;


}
.container {
    margin: 3rem auto;
    width: 50%;
    height: 32vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px;

}
h1{
    text-align: center;
    color: red;
    margin-bottom: 20px;

}
button{
    color: black;
    padding: 4px 8px;
    border: none;
    border-radius: 10px;


}
button:hover{
    color: aqua;
    padding: 2px 4px 6px 8px 10px;
    border: 6px solid rbg(0 0 0);
    border-radius: 2px 4px 6px 8px 10px;
}
label{
    align-self:above;
    color: white;

}
input[type="text"]{
    align-items: end;
}
label{
    display: block;
    margin: 4px auto;
}
.ginput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}